[user]
	name = Pablo Gómez-Caldito
	email = pablo@streamsets.com
[alias]
    tree = log --graph --oneline --all
    tr   = tree
    t    = tag
    s    = status
    co   = checkout
    cob  = checkout -b
    br   = branch
    de   = branch -D
    d    = diff
    c    = commit -m
    ca   = commit --amend
    a    = add
    p    = push
    cl   = clone
    l    = log
    sw   = switch
    pl   = pull
    rw   = review
    rt   =  revert
    cp   = cherry-pick
[gitreview]
	remote = origin
